@import '_partials/reset.css';
@import '_partials/variables.css';
@import '_partials/typo.css';
@import '_partials/common.css';
@import '_partials/nav.css';
@import '_partials/main.css';
@import '_partials/footer.css';

/* 
********
DEBUG
********
*/

/* #region */

/* .debug nav {
    background-color: green;
} */

.debug footer {
    background-color: orange;
}

/* .debug main .row {
    background-color: yellow;
    height: 500px;
} */

/* .debug main .col {
    background-color: green;
} */

/* .debug main .col .content {
    background-color: black;
    height: 200px;
} */

/* .debug main {
    background-color: blue;
} */

/* .debug .top nav .navfooter {
    background-color: red;
} */

/* .debug .top nav .menu li,
.debug .top nav .playlist-list li {
    background-color: green;
    border: 1px solid yellow;
} */


/* #endregion */












