@import '_partials/reset.css';
@import '_partials/variables.css';
@import '_partials/typo.css';
@import '_partials/common.css';
@import '_partials/nav.css';
@import '_partials/main.css';
@import '_partials/footer.css';

/* 
********
DEBUG
********
*/

/* #region */

.debug nav {
    background-color: green;
}

.debug footer {
    background-color: orange;
}

.debug main {
    background-color: blue;
}

.debug .top main .main-topbar {
    background-color: yellow;
}

/* #endregion */












