/* 
********
COMMON
********
*/

/* #region */

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
}

.flex-justifycenter {
    justify-content: center;
}

.flex-spacebetween {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

img {
    display: block;
}

body {
    height: 100vh;
}

.top {
    height: calc(100% - 90px);
}

.btn {
    all: unset;
    color: var(--font-primary);
    border: 1px solid var(--font-primary);
    padding: 11px 40px;
    border-radius: 22px;
    font-size: .75rem;
}

@media screen and (max-width: 575px) {
    .vanish {
        display: none;
    }
}

/* #endregion */