/* 
********
FOOTER
********
*/

footer {
    height: 90px;
    background-color: var(--bg-footer);
    padding: 0 10px;
}

/* #region left */

footer .current-song .current-img {
    max-width: 42px;
    min-width: 30px;
    margin-bottom: 2px;
    margin-right: 13px;
}

footer .current-song .current-img img {
    width: 100%;
}

footer .current-song .song-info {
    padding-right: calc(10px + 1vw);
}

footer .current-song .icons {
    gap: 15px;
}

/* #endregion */

/* #region center */

footer .player {
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;
}

footer .player .player-controls {
    width: 190px;
    margin: 0 8px;
}

footer .player .progress-bar {
    width: 32vw;
}

footer .player .progress-bar .bar {
    width: 80%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--progress-bar-secondary);
    margin: 0 8px;
}

footer .player .progress-bar .bar .bar-current {
    width: 20%;
    border-radius: 2px;
    background-color: var(--progress-bar-primary);
    position: relative;
}

footer .player .progress-bar .bar .bar-current::after,
footer .right-controls .vol .vol-current::after {
    content: '';
    display: none;
    width: 10px;
    height: 10px;
    background-color: var(--font-primary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}



/* #endregion */

/* #region right */

footer .right-controls {
    max-width: 210px;
    flex-grow: 1;
    gap: 5px;
}

footer .right-controls .vol {
    width: 118px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--progress-bar-secondary);
}

footer .right-controls .vol .vol-current {
    width: 20%;
    border-radius: 2px;
    background-color: var(--progress-bar-primary);
    position: relative;
}

/* #endregion */

/* #region Responsive */

@media screen and (max-width: 767px) {
    footer .current-song .icons  {
        flex-direction: column;
        gap: 2px;
    }
}

/* #endregion */

/* #region Effects */

footer .current-song .song-details .title:hover {
    text-decoration: underline;
}

footer .player .player-controls .fa-circle-play:hover {
    transform: scale(1.1);
}

footer .player .player-controls i:hover,
footer .right-controls i:hover {
    cursor: pointer;
}

footer .player .progress-bar .bar:hover .bar-current,
footer .right-controls .vol:hover .vol-current {
    background-color: var(--highlight);
}

footer .player .progress-bar .bar:hover,
footer .right-controls .vol:hover {
    cursor: pointer;
}

footer .player .progress-bar .bar:hover .bar-current::after,
footer .right-controls .vol:hover .vol-current::after {
    display: block;
}

/* #endregion */


