/* 
********
MAIN
********
*/

/* #region */

.top main {
    flex-grow: 1;
    overflow-y: scroll;
}

.top main .main-topbar {
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    height: 90px;
    width: 100%;
    top: 0;
}

/* #endregion */