/* 
********
NAV
********
*/

.top nav {
    width: 230px;
    padding: 20px 0 7px;
    flex-shrink: 0;
    background-color: var(--bg-nav);
    flex-direction: column;
    overflow-y: hidden;
}

.top nav .navpadding {
    padding-right: 20px;
    padding-left: 20px;
}

.top nav .logo {
    width: 132px;
    margin: 0 20px 24px;
}

/* #region Menu */

.top nav .menu li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.top nav .menu .menu-icon {
    width: 24px;
    margin-right: 4px;
    filter: brightness(0.8)
}

.top nav .menu .menu-active {
    border-left: 3px solid var(--highlight);
    padding-left: 17px;
}

/* #endregion */

/* #region Playlist */

.top nav .playlist {
    margin: 20px 0;
}

.top nav .playlist h3 {
    margin-bottom: 9px;
}

.top nav .playlist .create-playlist i {
    vertical-align: middle;
    margin-right: 7px;
}

.top nav .playlist-list {
    flex-grow: 1;
    overflow-y: auto;
    min-height: 100px;
}

.top nav .playlist-list ul li {
    margin-bottom: 18px;
}

/* #endregion */

/* #region Navfooter */

.top nav .navfooter .download .download-icon {
    width: 16px;
    margin-right: 10px;
}

.top nav .navfooter hr {
    height: 1px;
    border-style: solid;
    border-color: var(font-secondary);
    margin: 8px 0 14px;
}

.top nav .navfooter .userdata .prof-pic {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.top nav .navfooter .userdata .username {
    color: var(--font-primary);
}

/* #endregion */