/* 
********
TYPOGRAPHY
********
*/

/* #region */

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-secondary);
    font-weight: 700;
}

.primaryfont {
    color: var(--font-primary);
}

.top nav,
.top nav h3 {
    font-size: .875rem;
}

.top nav .playlist .create-playlist i {
    font-size: 42px;
}

/* #endregion */