/* 
********
TYPOGRAPHY
********
*/

/* #region */

body,
body a {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-secondary);
    font-weight: 700;
    text-decoration: none;
    font-size: .8125rem;
}

.primaryfont {
    color: var(--font-primary);
}

.top nav .playlist h3 {
    font-size: .875rem;
}

.top nav .playlist .create-playlist,
.top main .row .col .title,
footer .current-song .icons,
footer .player .player-controls i {
    font-size: 1rem;
}

.top nav .playlist .create-playlist i {
    font-size: 2.625rem;
    color: #a3a3a3;
}

.top main section h2 {
    font-size: 1.4375rem;
}

.top main .row .col .subtitle {
    font-size: .75rem;
}

footer .current-song .song-details .title,
footer .player .progress-bar .current-time,
footer .player .progress-bar .total-time {
    font-size: .6875rem;
}

footer .player .player-controls .fa-circle-play {
    font-size: 1.75rem;
}

/* #endregion */