/* 
********
VARIABLES
********
*/

/* #region */

:root {
    --font-primary: #ffffff;
    --font-secondary: #6d6d6d;
    --bg-nav: #000000;
    --bg-main: #141922;
    --bg-footer: #282828;
    --highlight: #adff2f;
    --progress-bar-primary: #c1c1c1;
    --progress-bar-secondary: #5a5a5a;
    --active-icon: #d2d2d2;
}

/* #endregion */